.modale-create {
    position: absolute;
    background-color: white;
    width: 500px;
    height: 300px;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-close {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: scale(2);
    border: none;
    background: white;
    color: var(--secondary-color)
}
.icon-close:hover {
    cursor: pointer;
}